/* for desktop first layout */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family:'Courier New', Courier, monospace;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  border: solid red 1px;
}

h1 {
  flex: 1 1 100%;
  border: solid black 1px;
  text-align: center;
}

ul {
}

.row {
  display: flex;
}

.split-button {
  flex: 1 50%;
  border: solid blue 1px;
}

.time-elapsed-display {
  flex: 1 50%;
  border: solid teal 1px;
}

.splits-column {
  flex: 1 50%;
  display: flex;
  flex-flow: column-reverse nowrap;
  border: solid yellow 1px;
}

.graph-column {
  flex: 1 50%;
  border: solid pink 1px;
}

/* for tablet*/
@media only screen and (max-width: 850px ) {

}

/* for mobile or small devices */
@media only screen and (max-width: 550px) {

}